body {
    background-color: white; /* Ciemnoszary kolor */
    color: black;           /* Tekst w jasnym kolorze */
    margin: 0;
    font-family:Verdana, Geneva, Tahoma, sans-serif; /* Opcjonalne ustawienie czcionki */
}

.collapse {
    border-color: white;
    color: white;
    border-width: 2px;
}

#productBackground {
    border-radius: 20px; /* Zaokrąglone krawędzie */
    margin: 20px;
    padding: 10px;
    align-items: center; /* Wyrównanie środka */
    overflow: hidden; /* Usuń przewijanie na zaokrąglonych krawędziach */
}
.gradientBackground {
    /* background: linear-gradient(to top right, #3f48cc, transparent),
                linear-gradient(to bottom left, #b83dba , transparent),
                white; Kolor bazowy */
    background-color: white;
}
  
#navButton {
    background: white;
    margin: 5px;
    border: none;
    color:black;
    box-shadow: none;
}